{% extends 'base.html' %}

{% block title %}Search Card Prices{% endblock %}

{% block content %}
    <h1>Magic the Gathering Card Price Tracker</h1>

    <!-- Display username if logged in -->
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! You are logged in.</p>
    {% else %}
        <p>Welcome, Guest!</p>
    {% endif %}

    <h2>Search for Magic the Gathering card prices:</h2>
    <!-- Search form -->
    <form method="GET" action="{% url 'search_card_price' %}">
        <label for="card_name">Enter Card Name:</label>
        <input type="text" id="card_name" name="card_name" required>
        <button type="submit">Search</button>
    </form>

    <!-- Display the search result if a price is found -->
    {% if card_price %}
        <h2>Price for "{{ card_name }}": ${{ card_price }}</h2>

        <!-- Display the card image -->
        {% if card_image %}
            <img src="{{ card_image }}" alt="Image of {{ card_name }}">
        {% endif %}

        <a href="{% url 'add_to_collection' card_scryfall_id %}">Add to Collection</a>  <!-- Update with correct variable -->
        
    {% elif card_not_found %}
        <h2>Card "{{ card_name }}" not found.</h2>
    {% endif %}
{% endblock %}
